@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent FOUC - Critical styles */
@layer base {
    html {
        visibility: visible !important;
        opacity: 1 !important;
    }
}

@keyframes zoom-in-out {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.08);
    }
}

.animate-zoom-in-out {
    animation: zoom-in-out 10s ease-in-out infinite;
}